run = "npm run dev"
entrypoint = "backend/index.js"
modules = ["nodejs-20"]
hidden = [".config", "package-lock.json"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "nodejs"

[deployment]
run = ["npm", "run", "start"]
deploymentTarget = "gce"
ignorePorts = false

[[ports]]
localPort = 3000
externalPort = 80

[env]
# PROD_URL = "https://node-test-app-tkozdev.replit.app/"
VITE_API_BASE_URL = "https://node-test-app-tkozdev.replit.app/"